body {
    overflow-x: hidden;
}

#wrapper {
    display: flex;
}

#sidebar-wrapper {
    min-height: 100vh;
    width: 250px;
    transition: margin .25s ease-out;
}

#page-content-wrapper {
    min-width: 100vw;
}

#page-content-wrapper {
    flex: 1;
    min-width: 0;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -250px;
}